
.article_title{
    margin-top: 86px;
    /* margin-bottom: 38px; */
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #1AA05B;
}
.article_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 132%;
    margin-right: 30px;
    color: #000000;
}
.list_article{
    margin-bottom: 203px;
    margin-left: -10px;
}
.article_image{
    width: 424px;
    height: 554px;
}
@media only screen and (max-width: 990px) {
.hr_line{
margin: 0 20px 0 20px;
}
    .article_title{
        margin-top: 15px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.001em;
    }
    .article_text{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }
    .list_article{
        margin-bottom: 50px;
        margin-left: -20px;

    }
}