/* .profile_container{
  background: 
} */
.button-wrapper {
    position: relative;
    width: 150px;
    text-align: center;
    /* margin: 20% auto; */
    /* margin-top: -100px; */
    margin-left: 55px;
  }
  .arrow {
    margin-left: 6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    transition: transform 0.3s; 
  }
  
  .up {
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent black transparent;
    transform: rotate(180deg);
  }
  
  .down {
    border-width: 8px 5px 0 5px;
    border-color: black transparent transparent transparent;
    transform: rotate(-180deg);
  }
  
  .button-wrapper span.label {
   
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #00bfff;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #upload {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }
.profile_school{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #474747;
}
.side_profile{
  width: 480px;
  height: 878px;
  background: #F8F9FA;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
}
.form_container{
  width: 725px;
  height: 778px;
  font-size: 24px;
  background: #F8F9FA;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
}
.profile_input{
  background: transparent;
  border: 1px solid #939CA3;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
width: 340px;
}
.input_div{
  margin-bottom: 40px;
}
.static_data{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
padding-left: 12px;

}
.input_label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-right: 30px;
}

.button_div{
  margin-top: 70px;
}
.save_change_btn{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: white;
  border: 1px solid #169462;
  border-radius: 32px;
  background: #169462;
  padding: 5px 10px;
  
  transition: 0.5s;
}
/* .save_change_btn:hover{
  background: #9FDFBE;
  color: #FFFFFF;
} */
.change_btn{
  background: #1AA05B;
  border: 1px solid #1AA05B;
  border-radius: 20px;
  padding: 4px 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
.prfile_pic{
  height: 120px;
  background: #F8F9FA;
  box-shadow: 1.14444px 1.14444px 2.28889px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.button-wrapperr{
  margin-top: 21px;
  margin-left: 22px;
  margin-bottom: 37px;
  margin-right: 7px;
}
.city-profile{
  width: 350px;
}
.Email_Edit{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  color: #1AA05B;
  cursor: pointer;
  transition: 0.5s;
}
.Email_Edit:hover{
  color: #51D390;
}
.edit_al{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  background: #1AA05B;
  border-radius: 4px;
  border: 1px solid #1AA05B;
  padding: 8px 15px 8px 15px;
  transition: 0.5s;
  cursor: pointer;
}
.edit_al:hover{
  background: rgba(26, 160, 91, 0.5);
  border: 1px solid rgba(26, 160, 91, 0.5);
}
input[type="text"][disabled] {
  color: #000;
}
.res_userName{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #08090A;
}
.select_div select {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select_div select.profile_input {
  background-image:url(../../asstes/icons/arrow_select.svg);
  background-position:
    calc(100% - 15px) calc(1em),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-repeat: no-repeat;
}
.profileBtn{
  background: transparent;
  color:#1AA05B;
  border: 1px solid #1AA05B;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;    
  padding: 8px 16px;
  gap: 10px;
  transition: 0.5s;
}
.profileBtn:hover{
  background: #1AA05B;
  color: #ffff;
}


.change_btn{
  background: #1AA05B;
  border-radius: 20px;
  padding: 5px 26px;
  gap: 10px;
  border: 1px solid #1AA05B;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s;
  position: relative;
    bottom: -20px;
}
#rp{
position: "relative";
padding: "4px";}
#wb{
  border-radius: 1000px;
  width: 40px;
}
#wb1{
  border-radius: 1000px;
  width: 120px;
}
#fc{
  display:"flex";
   place-content:"center";
}
#dgm{
  display: grid;
gap:14px;
margin-top: -20px;
}
#h10{
  height: 10px;
}
#p2{
  padding: 2%;
}
#pm{
  padding:1%;
  margin-top: 10px;
}
#pt{
  padding-top: 35px;
}
#bmm{
  border: "1px solid #CED4DA";
  margin-top: "5px";
   margin-bottom: '0px';
   margin-left: "15px";
   margin-right: "15px";
}
#bwb{
  border:"1px solid black";
   background-color:"white";
    box-shadow:"1px 2px 1px 1px black";
}
#mtop{
  margin-top: -12px;
}
#bbb{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.change_btn:hover{
  border: none;
  background: #9FDFBE;
  border: 1px solid #9FDFBE;
}

.upload_Str_btn{
  background: #1AA05B;
  border-radius: 20px;
  padding: 5px 24px;
  gap: 10px;
  border: 1px solid #1AA05B;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s;
  position: relative;
    bottom: 20px;
}
.upload_Str_btn:hover{
  border: none;
  background: #9FDFBE;
  border: 1px solid #9FDFBE;
}
.authBtn_p{
  background: white;
  color:#1AA05B;
  border: 1px solid #1AA05B;
  font-size: 16px;
  font-weight: 700;
  width: 140px;
  border-radius: 20px;    
  padding: 6px 14px;
  gap: 15px;
  transition: 0.5s;
}
.authBtn_p:hover{
  background: #1AA05B;
  color: #ffff;
}

.authBtn_p:disabled{
  background: gray;
  color: #ffff;
}
@media only screen and (max-width: 990px) {

.form_container{
  width: 100%;
  max-height: 300px;
  font-size: 12px;
  background: #fff;
  box-shadow: none;
}
.profile_container{
  background: #fff;
}
.input_label{
  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  margin-right: 0px;
}
.profile_input{
  /* margin-bottom: 12px; */
  background: #fff;
  width: 180px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}
.state_input{
  border: 1px solid #939CA3;
  border-radius: 4px;
}
.state_inputt{
  border: 1px solid #939CA3;
  border-radius: 4px;
  width: 350px;
}
.save_change_btn{
  font-weight: 700;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: -0.01em;
  padding: 4px 6px;
}
#upload {
  width: 10%;
  height: 4%;
  top: 330px;
  left: 35px;
}
.city-profile{
  width: 222px;
}
.Email_Edit{
  font-weight: 700;
font-size: 8px;
line-height: 12px;
padding: 5px 10px;
}
.edit_al{
  padding: 4px 12px;
  font-weight: 700;
  font-size: 8px;
  line-height: 12px;
}
.static_data{
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
}
.input_div{
  margin-bottom: -5px;
}
.button_div{
  margin-top: 40px;
}
.profileBtn{
  padding: 6px 16px;
  font-size: 12px;
}
.upload_Str_btn{
  background: #1AA05B;
  border-radius: 20px;
  padding: 5px 20px;
  gap: 10px;
 
  border: 1px solid #1AA05B;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  transition: 0.3s;
}
.upload_Str_btn:hover{
  border: none;
  background: #9FDFBE;
  border: 1px solid #9FDFBE;
}
}