.p{
    margin: 0;
    padding: 0;
}

.childContainer {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 60px;
}

.container p{
    margin: 0;
    padding: 0;
}

.planContainer {
    width: 50.28vw;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 24px;
    border: 2px solid var(--gray-light, #B1B1B1);
}

.billParent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.billDataContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.greenText {
    color: var(--brand-color-green, #1AA05B);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.24px;
}

.subtitle {
    color: var(--gray-text, #474747);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.24px;
}

.title {
    color: var(--grey-darkest, #08090A);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 100% */
    letter-spacing: -0.24px;
}

.commonBtn {
    display: flex;
    height: 40px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid #1AA05B;
    background: #FFF;

    /* secondary button */
    box-shadow: -12px -12px 14px 0px rgba(213, 213, 213, 0.82) inset;
}

.commonBtn:hover {
    border-radius: 24px;
    background: #1AA05B;

    /* primary button */
    box-shadow: -24px -19px 14px 0px rgba(0, 0, 0, 0.30) inset, 0px 4px 8px 0px rgba(26, 160, 91, 0.20), 4px 6px 14px 0px #3AE48D inset;
}

.commonBtn:hover .btnText {
    color: var(--grey-white, var(--background-white, #FFF));
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.16px;
}

.btnText {
    color: var(--brand-color-green, #1AA05B);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.16px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:767px) {
    .userDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 42px;
    }

    .userOrg {
        color: var(--grey-darker, #6D747A);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .profileImgAndText {
        margin-bottom: 20px;
    }

    .container {
        display: none;
    }

    .childContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .planContainer {
        display: flex;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        width: calc(100vw - 32px);
        margin: 0 8px 8px 8px;
    }

    .billDataContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5.436px;
    }

    .title {
        color: var(--grey-darkest, #08090A);
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 10.873px;
        /* 108.729% */
        letter-spacing: -0.1px;
    }

    .greenText {
        color: var(--brand-color-green, #1AA05B);
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 10.873px;
        /* 108.729% */
        letter-spacing: -0.1px;
    }

    .subtitle {
        color: var(--gray-text, #474747);
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 10.873px;
        /* 108.729% */
        letter-spacing: -0.1px;
    }

    .commonBtn {
        display: flex;
        height: 28px;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        border: 1px solid #1AA05B;
        background: #FFF;
        box-shadow: -8px -12px 14px 0px rgba(213, 213, 213, 0.43) inset;
    }

    .commonBtn:hover {
        display: flex;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        background: #1AA05B;
        box-shadow: -16px -8px 11px 0px rgba(0, 0, 0, 0.30) inset, 0px 2px 4px 0px rgba(26, 160, 91, 0.20), 2px 2px 8px 0px #3AE48D inset;
    }

    .btnText {
        color: var(--brand-color-green, #1AA05B);
        text-align: center;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        /* 120% */
        letter-spacing: -0.1px;
    }

    .commonBtn:hover .btnText {
        color: var(--background-white, #FFF);
        text-align: center;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        /* 120% */
        letter-spacing: -0.1px;
    }

    .btnActive {
        display: flex;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        background: #1AA05B;
        box-shadow: -16px -8px 11px 0px rgba(0, 0, 0, 0.30) inset, 0px 2px 4px 0px rgba(26, 160, 91, 0.20), 2px 2px 8px 0px #3AE48D inset;
    }

    .btnActive p {
        color: var(--background-white, #FFF);
    }
}