.profile_container{
  background: #E5E5E5;
}
.button-wrapper {
    position: relative;
    width: 150px;
    text-align: center;
    margin: 20% auto;
  }
  
  .button-wrapper span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #00bfff;
    cursor: pointer;
    color: #fff;
    padding: 10px 0;
    text-transform:uppercase;
    font-size:12px;
  }
  
  #upload {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }
.profile_school{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #474747;
}
.form_container{
  width: 75%;
  font-size: 24px;
}
@media only screen and (max-width: 990px) {
.button-wrapper{
  margin: 20% 2%;
  border-radius: 5px;
}
.form_container{
  width: 100%;
  font-size: 12px;
}
.profile_container{
  background: #fff;
}

}