.stratigy_bg{
    background: #1AA05B;
}
.sub-title{
    color: #1AA05B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.sub-subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.search-head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.Strategy_count{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1AA05B;
}
.Strategy_count_article p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.counter_str{
    background: #1AA05B;
    padding: 2px 8px;
    border-radius: 15px;
    margin-left: 5px;
    font-weight: bold;
}
.goog-te-combo{
    padding: 5px 10px !important;
}
.goog-te-gadget{
    color: white !important;
}
.goog-logo-link{
    display: none !important;
}
.goog-te-banner-frame{
    display: none !important;
}
.container_title_sec{
    margin: 0px 60px;
}
.dropDownContainer{
    margin: 0px 60px;
}
.sub_sub_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #08090A;
}
.card_border{
    border-left: none !important;
    border-top: none !important;
}
.checkbox_size{
    width: 35px;
    height: 35px;
}
.checkBox_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.threeIcons{
    width: 60px;
    height: 60px;
}
@media only screen and (max-width: 990px) {
    .container_title_sec{
        margin: 0px 20px;
    }
    .dropDownContainer{
        margin: 0px 20px;
    }
    .sub-title{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }
    .sub-subtitle{
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
    }
    .sub_sub_title{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
    }
    .checkbox_size{
        width: 14px;
        height: 14px;
    }
    .checkBox_title{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }
    .card-header{
        padding: 0px!important;
    }
    .Strategy_count{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }
    .Strategy_count_article p{
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: justify;
    }
    .threeIcons{
        width: 18px;
        height: 18px;
    }
    .counter_str{
        font-weight: 700;
        font-size: 8px;
        line-height: 10px;
        padding: 2px 5px;
        border-radius: 50px;
            }
}