.stratigy_bg{
    background: #1AA05B;
}
.sub-title{
    color: #1AA05B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.sub-subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.search-head{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.acordonia_coll{
    background: none!important;
}
.card_pad{
    padding-top: 0!important;
    padding-left: 0!important;
    padding-bottom: 0!important;
}
.Strategy_count{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1AA05B;
    margin-bottom: 2px;
}
.Strategy_count_article p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.counter_str{
    width: 35px;
    height: 35px;
    background: #1AA05B;
    padding: 2px 8px;
    border-radius: 105px;
    margin-left: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.container_title_sec{
    margin: 0px 60px;
}
.dropDownContainer{
    margin: 0px 60px;
}
.sub_sub_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #08090A;
}
.card_border{
    border-left: none !important;
    border-top: none !important;
}
.checkbox_size{
    width: 35px;
    height: 35px;
}
.checkBox_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.threeIcons{
    width: 60px;
    height: 60px;
}
.icons_heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    background: #1AA05B;
    border-radius: 2px;
    padding: 2px 16px;
    margin-left: -10px;
}
.res_btn_icon{
    width: 40%;
    display: flex;
    align-items: center;
}
.res_inner_div{
    border: 0.5px solid #1AA05B;
    border-radius: 2px;
}
.icon_heading_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    color: #FFFFFF;
    background: #1AA05B;
    border-radius: 0.852839px;
}
.find_strategies_btn{
    padding: 8px 16px;
    background: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1AA05B;
}
.empty_stratigys{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin: 100px 100px 500px 100px;
}
@media only screen and (max-width: 990px) {
    .container_title_sec{
        margin: 0px 20px;
    }
    .dropDownContainer{
        margin: 0px 20px;
    }
    .sub-title{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }
    .sub-subtitle{
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
    }
    .sub_sub_title{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
    }
    .checkbox_size{
        width: 14px;
        height: 14px;
    }
    .checkBox_title{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }
    .card-header{
        padding: 0px!important;
    }
    .Strategy_count{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }
    .Strategy_count_article p{
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: justify;
    }
    .threeIcons{
        width: 20px;
        height: 20px;
    }
    .counter_str{
        width: 14px;
        height: 14px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 10px;
        padding: 2px 3px;
    }
    .domain_title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 5px;
        line-height: 4px;
    }
    .find_strategies_btn{
        padding: 2px 16px;
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
    }
    .save_like{
        width:9.33px;
        height:12.04px;
    }
    .save_likes{
        width:11.67px;
        height:10.78px;
    }
}