.sign_up{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #1AA05B;
}
.modal_full{
    width: 90% !important;
    /* margin: 0 100px; */
    margin-left: -100px;
    margin-top: 0;
    margin-bottom: 0;
    /* overflow-y: hidden !important; */
}
.modal_full::-webkit-scrollbar {
    display: none;
  }
.modal_body{
    background: #FFFFFF;
    border-radius: 12px;
    width: 920px;
    padding: 2rem 1rem;
}
.modal-backdrop.show{
    opacity: 0.3 !important;
    background: rgba(8, 9, 10, 0.5);
}
.signup_Input{
    background: #F8F9FA;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    padding: 5px 10px;
    width: 350px;
}
.signup_Input:focus{
    outline: none;
}
.res_modal{
    background: #FFFFFF;
    border-radius: 12px;
    max-height: 500px;
    overflow-y: scroll;
}
.select_input{
    width: 350px;
    background: #F8F9FA;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    padding: 5px 10px;
}
.submit_btn{
    background: #1AA05B;
    border-radius: 20px;
    padding: 8px 16px;
    gap: 10px;
    border: 1px solid #1AA05B;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
}
.submit_btn:hover{
    border: none;
    background: #9FDFBE;
    border: 1px solid #9FDFBE;

}
@media only screen and (max-width: 990px) {

    .submit_btn {
        padding: 2px 16px;
        font-size: 12px;
    }
    .res_modal{
        max-height: 631px;
    }
    .signup_Input{
        width: 268px;
    }
    .select_input{
        width: 268px;
    }
}