.sign_up {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #1aa05b;
  }
  
  .modal_full {
    width: 100% !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .modal_full{
      .modal-dialog {
          max-width: fit-content;
        }
  }
  .modal_full::-webkit-scrollbar {
    display: none;
  }
  .modal_body {
    background: #ffffff;
    border-radius: 12px;
    width: 920px;
    padding: 2rem 1rem;
  }
  .modal-backdrop.show {
    opacity: 1 !important;
    background: rgba(8, 9, 10, 0.5) !important;
  }
  .signup_Input {
    background: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 5px 10px;
    width: 350px;
  }
  .signup_Input:focus {
    outline: none;
  }
  .res_modal {
    background: #ffffff;
    border-radius: 12px;
    max-height: 500px;
    overflow-y: scroll;
  }
  .select_input {
    width: 350px;
    background: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 5px 10px;
  }
  .submit_btn {
    background: #1aa05b;
    border-radius: 20px;
    padding: 8px 16px;
    gap: 10px;
    border: 1px solid #1aa05b;
    letter-spacing: -0.01em;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
  }
  .submit_btn:hover {
    border: none;
    background: #9fdfbe;
    border: 1px solid #9fdfbe;
  }
  .res-label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #474747;
  }
  .forgot_passs {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #1aa05b;
  }
.checkmark::after{
  background-color: green;
  color:#1aa05b;
}
  @media only screen and (max-width: 990px) {
    .submit_btn {
      padding: 8px, 16px, 8px, 16px;
      font-size: 16px;
    }
    .res_modal {
      max-height: 631px;
    }
    .signup_Input {
      width: 268px;
    }
    .select_input {
      width: 268px;
    }
    .sign_up {
      margin: 0px;
    }
  }
  