.container {
  max-width: 1250px;
}
.saveStrParent {
  background: #1aa05b;
  overflow: hidden;
  padding: 1px;
}
/* position: "relative", borderRadius: "27px", width: "98px", cursor: "pointer"  */
.filter_bTn {
  color: #1aa05b;
  background: white;
  display: flex;
  transition: 0.5s;
  position: relative;
  border-radius: 27px;
  width: 98px;
  cursor: pointer;
  padding: 3px 10px;
  /* margin-left: -5px; */
}
.filter_bTn:hover {
  color: #ffffff;
  background: #1e6540;
}
.filtericon2 {
  position: relative;
  padding-left: 10px;
  display: block;
}
.filtericon3 {
  position: relative;
  padding-left: 10px;
  display: none;
}
.filter_bTn:hover .filtericon2 {
  display: none;
}
.filter_bTn:hover .filtericon3 {
  display: block;
}
.filtericon3 {
  position: relative;
  padding-left: 10px;
}
.button:hover {
  position: relative;
  left: -25px;
  border-radius: 27px;
  width: 98px;
  cursor: pointer;
  background-color: #4caf50;
  transition-duration: 0.4s;
}
.model-content {
  top: 125px;
}
.savStrParent2 {
  background: #1aa05b;
  overflow: hidden;
  height: 33px;
  padding: 1px;
}
.button:hover {
  background-color: blue;
  color: red;
}
.headText {
  font-size: 21px;
  font-weight: 600px;
}
.str_text_left {
  margin-top: 30px;
}
.savestr_head,.padalogicalTitle {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-bottom: 1rem;
}
.padalogicalTitle{
  color: #1AA05B;
  margin-top: 35px;
}
.str_title {
  margin-bottom: 21px;
  margin-top: 35px;
}
.savestr_body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: justify;
  background-color:burlywood;

}
.single_str_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #1aa05b;
  margin-top: 10px;
}
.uni_id {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: #6d747a;
  margin: 0;
}
.dev_dom_single {
  margin-top: 26px;
  margin-bottom: 20px;
}
.dev_dpm_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #08090a;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}
.dev_dom_bg {
  background: #f4f8f7;
  height: fit-content;
  border-radius: 2px;
  position: relative;
  padding: 18px 14px;
}
.icon_bg {
  background: #ffffff;
  border-radius: 17px;
}
.Dev_dom {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #ffffff;
  background: #1aa05b;
  border-radius: 2px;
  padding: 5px 10px;
}

.count_num {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: #a4a8ac;
  /* color: #1aa05b; */
  margin-left: 8px;
  cursor: pointer;
}
/* .count_num:hover{
  color:#1AA05B;
} */
.comment_div {
  margin: 10px 0px 10px 0px !important;
  border: 2px solid #939ca3;
  border-radius: 8px;
  padding: 25px 40px;
  margin-left: auto !important;

}
.comment_div_p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #08090a;
}
.comment_input {
  border: 2px solid #d5b39a;
  padding: 10px 90px 10px 20px;
}
/* .comment_input:focus {
  border: 2px solid #1aa05b;
} */
.comment_submit {
  margin-top: -40px;
  margin-right: 10px;
}
.comment_submit input {
  background: #d5b39a;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  letter-spacing: -0.01em;
  padding: 5px 16px;
}
.see_comment {
  background: #f4f8f7;
  border: 0.5px solid rgba(47, 50, 57, 0.3);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0px;
  cursor: pointer;
}
.col-md-1 bg-white py-1 px-3 :hover {
  background-color: #555555;
  color: white;
}
.see_comment p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #1c1d1f;
}
.arrow {
  width: 5px;
}
.comment_head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #08090a;
}
.comment_span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  color: #6d747a;
  padding-left: 5px;
}
.comment_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #8e8e8e;
}
.icons_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  background: #1aa05b;
  border-radius: 2px;
  padding: 2px 20px;
  margin-left: -68px;
}
.threeIcons-nuns {
  width: 60px;
  height: 64px;
}
.str_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #d5b39a;
  margin-bottom: 2px;
  margin-right: -5px;
}
.user_image {
  width: 26px;
  height: 26px;
  border-radius: 10000px;
}
.res_btn_icon_user {
  width: 40%;
  display: flex;
  align-items: center;
}
.str_title_user {
  margin-bottom: 21px;
  margin-top: 35px;
}
.largeCommentContainer {
  padding-left: 150px;
}
.filter_btn_container {
  right: 35px;
}
.disableCopy{
  user-select: none;
}
.saveStrParent2{
  background: #1aa05b;
  overflow: hidden;
  padding: 0.313rem;
  color: #FFF;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GoBack{
  position: absolute;
  left:10px;
 display: flex;
 gap: 12px;
 color: #FFF;
 text-decoration: none;
}
.GoBack a:hover{
  color: #FFF;
}
.editStrategy,.markUsed,.UsedStartegy{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.6rem 0.8rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  background: none;
  border: none;
  border-radius: 24px;
  height: 44px;
}
.editStrategy{
  border: 2px solid #1AA05B;
}
.markUsed,.UsedStartegy{
  color: #FFF;
  background: #1AA05B;
  box-shadow: 0px 4px 8px 0px rgba(26, 160, 91, 0.20);
}
.strategytext{
  border: none;
  resize: none;
  margin-bottom: 1rem;
  outline: none;
  background-color:burlywood;
}
.strategytext::placeholder{
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.strategytext::selection{
  border: none;
}
@media only screen and (max-width: 888px) {
  .Dev_dom {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
    background: #1aa05b;
    border-radius: 2px;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .dev_dpm_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 11px;
    color: #08090a;
    margin-top: 0px;
    margin-left: 0px !important;
    text-align: center !important;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 990px) {
  .filter_btn_container {
    right: 20px;
  }
  .largeCommentContainer {
    padding-left: 90px;
  }
  .dev_dpm_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 11px;
    color: #08090a;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .headText {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }
  .savestr_head {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 15px !important;
    margin-top: 15.5px;
  }
  .str_title {
    margin-top: 15.5px;
  }
  .savestr_body {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    margin-right: 10px;
  }
  .single_str_head {
    font-size: 12px;
    margin-bottom: 0 !important;
  }
  .str_name {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .comment_div {
    margin: -10px 10px !important;
    padding: 10px 10px;
  }
  .comment_input {
    border: 1px solid #d5b39a;
  }
  .comment_head {
    font-size: 12px;
    margin: 0;
  }
  .comment_span {
    font-size: 10px;
  }
  .comment_text {
    font-size: 12px;
    line-height: 19px;
  }
  .count_num {
    margin-left: 5px;
  }
  .uni_id {
    font-size: 10px;
  }
  .str_text_left {
    margin-top: 15px;
  }
  .filter_bTn {
    position: relative;
    border-radius: 27px;
    width: 75px;
    cursor: pointer;
    padding: 3px 10px;
    margin-top: -3px;
    margin-right: -7px;
    font-size: 14px;
  }
  .filter_bTn:hover {
    color: #1aa05b;
    background: white;
  }
  .filtericon2 {
    padding: 0;
  }
  .filtericon3 {
    padding: 0;
  }
  .user_image {
    width: 16px;
    height: 16px;
  }
  .res_btn_icon_user {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  .str_titlee {
    margin-bottom: 0px;
  }
  .str_title_user {
    margin-bottom: 5px;
    margin-top: 15.5px;
  }
}
