.select-border{
    border: 1px solid#1AA05B;
    color: #1AA05B;
    border-radius: 5px;
}
.heroImage{
    background: url('../../asstes/image\ screen.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 321px;

}
.heroImageRes{
    background: url('../../asstes/Rectangle\ 145.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 321px;
    background-size: cover;
    background-position: center;

}
.heroTitleName{
    padding-top: 150px;
}
@media only screen and (max-width: 990px) {
    .heroTitleName{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    }
}