*{
    font-family: 'Inter';
}
.authBtn{
    background: transparent;
    color:#1AA05B;
    border: 1px solid #1AA05B;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;    
    padding: 8px 16px;
    gap: 10px;
    transition: 0.5s;
}
.authBtn:hover{
    background: #1AA05B;
    color: #ffff;
}
.authBtnn{
    background: #1AA05B;
    color:#ffff;
    border: 1px solid #1AA05B;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;    
    padding: 8px 16px;
    gap: 10px;
    transition: 0.5s;
}
.authBtnn:hover{
    background: transparent;
    color: #1AA05B;
    border: 1px solid #1AA05B;
}
/* .logo_aligh{
    margin-left: 239px;
} */
.logo2_img{
    width: 184px;
    height: 43px;
}
.profile_a{
    position: relative;
    right: 0;
    cursor: pointer;
}
.profile_section{
    position: absolute;
    width: 250px;
    background-color: #F8F9FA;
    right: 0;
    top: 0;
    margin-top: 70px;
    margin-right: 80px;
    border-radius: 5px;
}
.navLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.navLink:hover{
    color: #1AA05B;
}
.drop_down_icon{
    width: 40px;
    height: 40px;
}
@media only screen and (max-width: 990px) {
    .logo_img{
        width: 40px;
    }
    .logo2_img{
        width: 56px;
        height: 13.32px;
    }
    .authBtn{
        padding: 4px 16px;
        gap: 10px;
        font-size: 10px;
    }
    .authBtnn{
        padding: 4px 16px;
        font-size: 10px;
    }
    .profile_section{
        width: 207px;
        right: 0;
        top: 0;
        margin-top: 45px;
        font-weight: 400;
        font-size: 15.0091px;
        line-height: 18px;
        margin-right: 55px;
    }
    .drop_down_icon{
        width: 24.91px;
        height: 24.45px;
    }
  }