
.footer_content{
    background-color: #1AA05B !important;
    margin: 0px;
    padding: 0px;
    height: 380px !important;
}
.footer_res_content{
    background: #1AA05B ;
    margin: 0px;
    padding: 0px;
    height: 390px !important;
}
.footer_text{
    margin-top: 73px;
    margin-bottom: 97px;
}
.footer_text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer_text p a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .5s;
}
.footer_text p a:hover{
  color: #000000;
}
.last_content{
    margin: 0;
}
.footer_logo{
    width: 112px;
    height: 154px;
    margin-top: 143px;
    margin-right: 90px;
    margin-bottom: 93px;
}

@media only screen and (max-width: 990px) {
  .footer_top_margin{
    margin-top: 50px;
  }
  .footer_top_margin_res{
    margin-top: -25px;
  }
    .footer_content{
        height: 165px;
    }
    .footer_res_content{
        height: 165px;
    }
    .footer_text{
        margin-top: 24px;
        margin-bottom: 23px;
    }
    .footer_text p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 8px;
    }
    .footer_logo{
        width: 50px;
        height: 68px;
        margin-top: 40px;
        margin-top: 62px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 600px) {

    .footer_content{

            background-color: #1AA05B !important;
            margin: 0px;
            padding: 0px;
            height: 260px !important;
        
    }
}

    @media only screen and (min-width: 768px) and (max-width: 959px){
        .footer_content{

            background-color: #1AA05B !important;
            margin: 0px;
            padding: 0px;
            height: 390px !important;
        
    }
        }