.App {
  /* text-align: center; */
  max-width: 1440px;
  margin: 0 auto;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  opacity: 0.75;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbfc2;
  border-radius: 8px;
  opacity: 0.5;
  border: 2px solid #eeeeee;
}

::-webkit-scrollbar {
  background-color: #eeeeee;
  width: 10px;
  height: 10px;
  opacity: 0.75;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
