.forgot_header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #1AA05B;
}
.forgot_subheader{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #1AA05B;
}
.sendMail_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #1AA05B;
    letter-spacing: -0.01em;
    margin-left: 69px;
    margin-right: 34px;
    margin-top: 59px;
    margin-bottom: 162px;
    
}
.send_modal{
    /* margin-top: ; */
    border-radius: 12px;
}
.sendEmail_modal{
    background: #FFFFFF;
    border-radius: 12px;
    width: 619px;
}
.email_icon{
    
}
@media only screen and (max-width: 990px) {
    .send_modal{
        padding-right: 20px;
        padding-left: 50px;
    }
    .sendEmail_modal{
        width: 100%;
}

}